.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20%;
}

.navbar {
    background-color: #212529;
}

.navbar-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 15%;
}

ul li {
    padding: 1.5rem 0;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link:hover {
    color: #0E9E1F;
    text-decoration: underline;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #0E9E1F;
    text-decoration: underline;
}

@media only screen and (min-width:250px) and (max-width:778px) {
    .sidenav {
        width: 100%;
    }
    .navbar {
        background-color: #f8f9fa;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
}